/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=MuseoModerno:wght@900&display=swap');


/* General Styles */

main {
    
    padding: 20px;
    
}

main.h1 {

    margin: 100px;
    padding: 50px 50px 10px 50px;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;

}

h2 {

    font-family: 'Montserrat', sans-serif;
    font-size: 26px;


}

p {

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

}

/* Styling lists */

main ul {

    color:#335C81;
    display: flex;
    padding-left: 0;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

}

main ul li a{


    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin: 0 20px 20px 0;

}

main ol {

    color:#335C81;
    display: flex;
    padding-left: 0;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    
}

main ol li a{


    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin: 0 20px 20px 0;

}

main a{


  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-decoration: none;
  margin: 0 20px 20px 0;

}

img {

    width: 80%;
    display: flex;
    justify-content: space-evenly;

}

.img-style {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.wrapper {

   width: 95%;
   margin: auto;

}





hr {

    margin-top: 30px;
    margin-bottom: 30px;

}




.group {

    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    justify-content: center;

}

.item {

    flex: 1;
    padding: 10px;
    

}

.item-double {

    flex: 2;
    padding: 10px;

}

/* Forms */

form label {

  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  padding-right: 50px;
  color: gray;
  font-family: 'Montserrat', sans-serif;

}

form textarea {

  height: 4.75rem;
  width: 100%;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;

}

/* Headers */



header {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  background-color: rgb(17, 39, 102);
  margin-bottom: 100px;

}

header h1 {

  font-family: 'MuseoModerno', cursive;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  color: #fff;

}

header nav {

  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color:#fff;

}

header nav ul {

  display: flex;
  padding-left: 0;
  list-style: none;

}

header nav ul a {

  color:#fff;
  text-decoration: none;
  padding: 0 20px 0 0;

}

/* Responsive Web Design */

form input, form textarea {
    width: 100%;
}

@media all and (min-width: 600px) {

  header {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    background-color: rgb(17, 39, 102);
    margin: 0 0 100px 0;

  }

  header h1 {

    font-family: 'MuseoModerno', cursive;
    color: #fff;
    margin: 14px 0;
    text-align: center;
    padding-top: 0;
    padding-left: 5%;

  }

  header nav {

    display: flex;
    justify-content: center;
    margin-top: 8px;

  }

  header nav ul li a:hover{

    color: #bdbdbd;
    text-decoration: none;
    padding: 0 20px 0 0;

  } 

  main {
    
    padding: 100px;
    
  } 

  .wrapper {

    width: 80%;
    margin: auto;
 
 }

  .group {

    display: flex;
    flex-direction: row;
    margin-bottom: 100px;

  } 

  .img-style {

    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  form label {

    display: block;
    font-size: 18px;
    padding-right: 50px;
    margin-bottom: 5px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
  
  }


}
